h1 {
    text-align: justify;
    background-color: black;
}

.word1 {
    color: white;
}
.word2 {
    color: aqua;
}


h2 {
    background-color: rebeccapurple; 
    color:  white;
    text-align: center;
}

.Mailto {
    background-color: cornflowerblue;
    text-align: end;
}